<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Add New User</title>
</head>

<body>

<section layout:fragment="content">

    <div class="pagetitle">
        <h1>Add User</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a href="/users">User</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">

            <form class="row g-3 card-title" method="post"
                  th:action="@{/users/add}"
                  th:object="${userModel}"
                  oninput='confirmPassword.setCustomValidity(password.value !== confirmPassword.value ? "Passwords do not match." : "")'>

                <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    <a th:text="${errorMessage}"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    <a th:each="err : ${#fields.allErrors()}" th:text="${err}"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="col-12 ">
                    <div class="form-floating">
                        <input id="name"
                               type="text"
                               class="form-control"
                               placeholder="Enter Name"
                               required
                               th:field="*{name}">
                        <label for="name" class="form-label">Name</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <input id="email"
                               type="email"
                               class="form-control"
                               placeholder="Enter Email"
                               required
                               th:field="*{email}">
                        <label for="email" class="form-label">Email</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <input id="password"
                               name="password"
                               type="password"
                               class="form-control"
                               pattern=".{8,}"
                               placeholder="Enter Password"
                               oninvalid="setCustomValidity('Must be minimum of 8 characters !')"
                               oninput="setCustomValidity('')"
                               required th:field="*{password}">
                        <label for="password" class="form-label">Password</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <input id="confirmPassword"
                               name="confirmPassword"
                               type="password"
                               class="form-control"
                               placeholder="Confirm Password">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="State" th:field="*{roleId}">
                            <option
                                    th:each="role: ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                        <label for="floatingSelect">Role</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="State" th:field="*{status}">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <label for="floatingSelect">Status</label>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>

            </form>

        </div>
    </div>

</section>

</body>
</html>