<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
</head>

<body>

<section layout:fragment="content">

    <div class="pagetitle">
        <h1>User List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item active">User</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">

            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${message}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td th:text="${user?.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user?.roleModel?.name ?: 'N/A'}"></td>
                            <td th:switch="${user.status}">
                                <span th:case="'0'" class="badge bg-warning">Inactive</span>
                                <span th:case="'1'" class="badge bg-success">Active</span>
                            </td>
                           <td>
                               <div class="filter">
                                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                       <li><a class="dropdown-item" th:href="'/users/update/'+${user.id}">Edit User</a></li>
                                       <li>
                                           <a class="dropdown-item"
                                              data-bs-toggle="modal"
                                              th:data-bs-target="'#activateModal'+${user.id}"
                                              th:text="${user.status == 1 ? 'Deactivate User' : 'Activate User'}"></a>
                                       </li>
                                   </ul>

                                   <!-- Activate / Deactivate Confirmation Dialog -->
                                   <div class="modal fade" th:id="'activateModal'+${user.id}"
                                        tabindex="-1">
                                       <div class="modal-dialog">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title">Confirmation</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                           aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                   <a th:text="${'Are you sure to ' + (user.status == 1 ? 'Deactivate ' : 'Activate ') + user.name} + ' ?'"></a>
                                               </div>
                                               <div class="modal-footer">

                                                   <button type="button" class="btn btn-secondary"
                                                           data-bs-dismiss="modal">Close
                                                   </button>

                                                   <form method="POST" th:action="@{/users/changeStatus}">
                                                       <input type="hidden" name="id" th:value="${user.id}" />
                                                       <input type="hidden" name="r" value="/users" />
                                                       <input type="hidden" name="v" th:value="${user.status == 1 ? 0 : 1}" />
                                                       <button type="submit" class="btn btn-primary">Confirm</button>
                                                   </form>

                                               </div>
                                           </div>
                                       </div>
                                   </div><!-- End Basic Modal-->

                               </div>
                           </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>

    </div>

</section>

</body>

</html>
