<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Company Unit</title>
    <script type="text/javascript" src="/js/custom.js"></script>
</head>

<body>

<section layout:fragment="content">

    <div class="pagetitle">
        <h1>Company Unit</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item active">Company Unit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">

            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${message}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${errorMessage}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row g-3 card-title">

                        <div class="col-12 align-self-center">
                            <div class="float-end">
                                <button class="btn btn-primary"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#addModal">Add Company Unit
                                </button>
                            </div>
                        </div>

                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table simple-table">
                        <thead>
                        <tr>
                            <th>Unit Name</th>
                            <th>Short Name</th>
                            <th>Business Unit Name</th>
                            <th>Parent Name</th>
                            <th>Company Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="companyUnits: ${companyUnits}">
                            <td th:text="${companyUnits.name}"></td>
                            <td th:text="${companyUnits.shortName}"></td>
                            <td th:text="${companyUnits.businessUnitName}"></td>
                            <td th:text="${companyUnits.parentName}"></td>
                            <td th:text="${companyUnits.companyName}"></td>
                            <td th:switch="${companyUnits.status}">
                                <span th:case="'0'" class="badge bg-warning">Inactive</span>
                                <span th:case="'1'" class="badge bg-success">Active</span>
                            </td>
                            <td>
                            
                            	<!-- For edit Modal: data shown in edit modal by jquery code is below -->
                           			<input type="hidden" id="cId"    th:value="${companyUnits.id}">
									<input type="hidden" id="cBusinessUnit" th:value="${companyUnits.businessUnitId}">
									<input type="hidden" id="cParentUnit" th:value="${companyUnits.parentId}">
									<input type="hidden" id="cUnitName" th:value="${companyUnits.name}">
									<input type="hidden" id="cShortName" th:value="${companyUnits.shortName}">
									<input type="hidden" id="cStatus" th:value="${companyUnits.status}">
                            
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>

                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li>
                                            <a class="dropdown-item badge bg-secondary"
                                               	data-bs-toggle="modal" href="#"
                                               	onclick="loadCompanyUnitEditData(this)"
                                              	data-bs-target="#editCompanyUnitModal">Edit
                                            </a>
                                        </li>
                                        <li th:switch="${companyUnits.status}">
	                                            <a class="dropdown-item badge bg-secondary"
	                                               	data-bs-toggle="modal" href="#"
	                                               	th:data-bs-target="'#activateModal'+${companyUnits.id}">
	                                               	<span th:case="'0'">Activate</span>
	                                				<span th:case="'1'">Deactivate</span>
	                                            </a>
	                                    </li>
                                    </ul>

                                    <!-- Activate / Deactivate Confirmation Dialog -->
                                    <div class="modal fade" th:id="'activateModal'+${companyUnits.id}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Confirmation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                  <div class="modal-body">
	                                                    <a th:switch="${companyUnits.status}">
		                                                    <span th:case="'0'">Are you sure to Activate  <span th:text="${companyUnits.name}+' ?'"></span></span>
		                                					<span th:case="'1'">Are you sure to Deactivate  <span th:text="${companyUnits.name}+' ?'"></span></span>
	                                					</a>
	                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>

                                                    <form method="POST" th:action="@{'/company/company_unit/changeStatus'}">
                                                        <input type="hidden" name="id" th:value="${companyUnits.id}"/>
                                                        <input type="hidden" name="status" th:value="${companyUnits.status}"/>
                                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Basic Modal-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>

    <!--Add Business Unit Modal Dialog -->
    <div class="modal fade" id="addModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

            <div class="modal-content">

                <form method="post"
                      th:object="${companyUnitModel}"
                      th:action="@{/company/unit/add}">

                    <div class="modal-header">
                        <h5 class="modal-title">Add Company Unit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body row g-3">
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="businessUnit" aria-label="State" th:field="*{businessUnitId}">
                                	<option value="0" selected disabled>------Select Business Unit------</option>
                                	<option th:each="businessUnit:${businessUnit}" th:text="${businessUnit.unitName}" th:value="${businessUnit.id}"></option>
                                </select>
                                <label for="businessUnit">Business Unit</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="parentBusinessUnit" aria-label="State">
                                	<option value="0" selected disabled>------Select Parent Business Unit------</option>
                                </select>
                                <label for="parentBusinessUnit">Parent Business Unit</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="parentUnit" aria-label="State" th:field="*{parentId}">
                                	<option value="0" selected disabled>------Select Parent Unit------</option>
                                </select>
                                <label for="parentUnit">Parent Unit</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input id="unit_name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Company Unit Name"
                                       required
                                       th:field="*{name}">
                                <label for="unit_name" class="form-label">Company Unit Name</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input id="short_name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Short Name"
                                       required
                                       th:field="*{shortName}">
                                <label for="short_name" class="form-label">Short Name</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="address"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter address"
                                       required
                                       th:field="*{address}">
                                <label for="address" class="form-label">Address</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="city"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter city"
                                       required
                                       th:field="*{city}">
                                <label for="city" class="form-label">City</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="country"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter country"
                                       required
                                       th:field="*{country}">
                                <label for="country" class="form-label">Country</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="State" th:field="*{status}">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>

                </form>
            </div>


        </div>

    </div><!-- End Basic Modal-->
    <!--Start Edit Company Unit Modal Dialog -->
    <div class="modal fade" id="editCompanyUnitModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <form method="post"
                      th:object="${companyUnitModel}"
                      th:action="@{/company/unit/edit}">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Company Unit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body row g-3">
                    	<input type="hidden" id="id" name="id">
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="businessUnit" aria-label="State" th:field="*{businessUnitId}">
                                	<option value="0" selected disabled>------Select Business Unit------</option>
                                	<option th:each="businessUnit:${businessUnit}" th:text="${businessUnit.unitName}" th:value="${businessUnit.id}"></option>
                                </select>
                                <label for="businessUnit">Business Unit</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="parentUnit" aria-label="State" th:field="*{parentId}">
                                	<option value="0" selected disabled>------Select Parent Unit------</option>
                                </select>
                                <label for="parentUnit">Parent Unit</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="unit_name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Company Unit Name"
                                       required
                                       th:field="*{name}">
                                <label for="unit_name" class="form-label">Company Unit Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="short_name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Short Name"
                                       required
                                       th:field="*{shortName}">
                                <label for="short_name" class="form-label">Short Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="status" aria-label="State" th:field="*{status}">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Edit Company Unit Modal Dialog -->
    
    <script>
		$(document).ready(function() {
			$("#businessUnit").on("change", function() {
		    	sendRequest();
		    });
			
		    $("#parentBusinessUnit").on("change", function() {
		    	sendAjaxRequest();
		    });
		});
		
		var selectElem = $("#parentUnit");
		var selectElem1 = $("#parentBusinessUnit");
		
		function sendAjaxRequest() {
		    var parentBusinessUnit = $("#parentBusinessUnit").val();
		    var businessUnit = $("#businessUnit").val();
		    $.get( "/company/parent/find?parentBusinessUnit=" + parentBusinessUnit+"&businessUnit="+businessUnit, function( data ) {
		        $("#parentUnit").empty();
		        //data.forEach(function(item, i) {
		        //    var option = "<option value = " + item + ">" + item +  "</option>";
		        //    $("#businessUnit").append(option);
		        //});
		        var listOfData = data;
		        
		        $.each(listOfData, function(id, name){
		        	$("<option/>", {
		                value: id,
		                text: name
		            }).appendTo(selectElem);
		        });
		    });
		};
		
		function sendRequest() {
			var businessUnit = $("#businessUnit").val();
		    $.get( "/company/parentBusinessUnit/find?businessUnit=" + businessUnit, function( data ) {
		        $("#parentBusinessUnit").empty();
		        //data.forEach(function(item, i) {
		        //    var option = "<option value = " + item + ">" + item +  "</option>";
		        //    $("#businessUnit").append(option);
		        //});
		        var listOfData = data;
		        
		        $.each(listOfData, function(id, name){
		        	$("<option/>", {
		                value: id,
		                text: name
		            }).appendTo(selectElem1);
		        });
		        sendAjaxRequest();
		    });
		};
		
	</script>
</section>

</body>

</html>
