<!DOCTYPE html>

<html layout:decorator="layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Company</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/custom.js"></script>
</head>

<body>

<section layout:fragment="content">

    <div class="pagetitle">
        <h1>Companies</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item active">Company</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">

            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${message}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${errorMessage}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">
	                    <div class="row g-3 card-title">
	
	                        <div class="col-12 align-self-center">com
	                            <div class="float-end">
	                                <button class="btn btn-primary"
	                                        type="button"
	                                        data-bs-toggle="modal"
	                                        data-bs-target="#addModal"> Add Company
	                                </button>                                
	                            </div>
	                        </div>
	
	                    </div>
	
	                    <!-- Table with stripped rows -->
	                    <table class="table simple-table">
	                        <thead>
	                        <tr>
	                            <th>ID</th>
	                            <th>Company Name</th>
	                            <th>Address</th>
	                            <th>City</th>
	                            <th>Country</th>
	                            <th>Phone No</th>
	                            <th>Email</th>
	                            <th>Web</th>
	                            <th>Status</th>
	                            <th>Actions</th>
	                        </tr>
	                        </thead>
	                        <tbody>
	                        <tr th:each="company: ${companies}">
	                            <td th:text="${company.id}"></td>
	                            <td th:text="${company.name}"></td>
	                            <td th:text="${company.address}"></td>
	                            <td th:text="${company.city}"></td>
	                            <td th:text="${company.country}"></td>
	                            <td th:text="${company.phoneNo}"></td>
	                            <td th:text="${company.email}"></td>
	                            <td th:text="${company.website}"></td>
	                             <td th:switch="${company.status}">
	                                <span th:case="'0'" class="badge bg-warning">Inactive</span>
	                                <span th:case="'1'" class="badge bg-success">Active</span>
	                            </td>
	                            <td>
	                            	<!-- For edit Modal: data shown in edit modal by jquery code is below -->
	                            			<input type="hidden" id="cId"    th:value="${company.id}">
											<input type="hidden" id="cName" th:value="${company.name}">
											<input type="hidden" id="cBankId" th:value="${company.bankId}">
											<input type="hidden" id="cAddress" th:value="${company.address}">
											<input type="hidden" id="cCity" th:value="${company.city}">
											<input type="hidden" id="cState" th:value="${company.state}">
											<input type="hidden" id="cCountry" th:value="${company.country}">
											<input type="hidden" id="cPhoneNo" th:value="${company.phoneNo}">
											<input type="hidden" id="cEmail" th:value="${company.email}">
											<input type="hidden" id="cWebsite" th:value="${company.website}">
	                            
	                                <div class="filter" >
	                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
	
	                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
	                                        <li>
	                                            <a class="dropdown-item badge bg-secondary"
	                                               href="" onclick="loadCompanyEditData(this)"
	                                               data-bs-toggle="modal"
	           	                                   data-bs-target="#editCompanyModal">
	                                               Edit
	                                            </a>
	                                        </li>
	                                        <li th:switch="${company.status}">
	                                            <a class="dropdown-item badge bg-secondary"
	                                               	data-bs-toggle="modal" href="#"
	                                               	th:data-bs-target="'#activateModal'+${company.id}">
	                                               	<span th:case="'0'">Activate</span>
	                                				<span th:case="'1'">Deactivate</span>
	                                            </a>
	                                        </li>
	                                    </ul>
	
	          <!-- Activate / Deactivate Confirmation Dialog -->
	                                    <div class="modal fade" th:id="'activateModal'+${company.id}"
	                                         tabindex="-1">
	                                        <div class="modal-dialog">
	                                            <div class="modal-content">
	                                                <div class="modal-header">
	                                                    <h5 class="modal-title">Confirmation</h5>
	                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
	                                                            aria-label="Close"></button>
	                                                </div>
	                                                <div class="modal-body">
	                                                    <a th:switch="${company.status}">
		                                                    <span th:case="'0'">Are you sure to Activate id no. <span id= "confActivateTextSpan" th:text="${company.id}+' ?'"></span></span>
		                                					<span th:case="'1'">Are you sure to Deactivate id no. <span id= "confDeactivateTextSpan" th:text="${company.id}+' ?'"></span></span>
	                                					</a>
	                                                </div>
	                                                <div class="modal-footer">
	
	                                                    <button type="button" class="btn btn-secondary"
	                                                            data-bs-dismiss="modal">Close
	                                                    </button>
	
	                                                    <form method="POST" th:action="@{/company/changeStatus}">
	                                                        <input type="hidden" name="id" th:value="${company.id}"/>
	                                                        <input type="hidden" name="status" th:value="${company.status == '1' ? '0' : '1'}"/>
	                                                        <button type="submit" class="btn btn-primary">Confirm</button>
	                                                    </form>
	
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div><!-- End Basic Modal-->
	
	                                    <!-- Edit Modal -->
	                                    <div class="modal fade" th:id="'editBusinessUnitModal'+${company.id}"
	                                         role="dialog"
	                                         tabindex="-1">
	                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
	                                             role="document">
	
	                                            <div class="modal-content">
	
	                                                <form method="post"
	                                                      th:object="${businessUnitUpdateModel}"
	                                                      th:action="'/business/unit/update/' +${company.id}">
	
	                                                    <div class="modal-header">
	                                                        <h5 class="modal-title">Update Business Unit</h5>
	                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
	                                                                aria-label="Close"></button>
	                                                    </div>
	                                                    <div class="modal-footer">
	
	                                                        <button type="button" class="btn btn-secondary"
	                                                                data-bs-dismiss="modal">Close
	                                                        </button>
	
	                                                        <button data-bs-dismiss="modal" type="submit"
	                                                                class="btn btn-primary">
	                                                            Submit
	                                                        </button>
	
	                                                    </div>
	
	                                                </form>
	                                            </div>
	
	
	                                        </div>
	
	                                    </div><!-- End Basic Modal-->
	
	                                </div>
	                            </td>
	                        </tr>
	                        </tbody>
	                    </table>
                    <!-- End Table with stripped rows -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Add Company Modal Dialog -->
    <div class="modal fade" id="addModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

            <div class="modal-content">

                <form method="post" th:object="${companyModel}" th:action="@{/company/add}">

                    <div class="modal-header">
                        <h5 class="modal-title">Add Company</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body row g-3">

                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Company Name"
                                       required
                                       name="name"
                                       value="gt">
                                <label for="name" class="form-label">Company Name</label>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="bankId"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Bank Code"
                                       required
                                       th:field="*{bankId}"
                                       value="bankId">
                                <label for="bankId" class="form-label">Bank Code</label>
                            </div>
                        </div>

						<div class="col-6 ">
                            <div class="form-floating">
                                <input id="address"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Address here"
                                       th:field="*{address}">
                                <label for="address" class="form-label">Address</label>
                            </div>
                        </div>
		
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="city"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter city"
                                       required
                                       name="city"
                                       value="city">
                                <label for="city" class="form-label">City</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="state"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter address"
                                       required
                                       name="state"
                                       value="state">
                                <label for="state" class="form-label">State</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="country"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter country"
                                       required
                                       name="country"
                                       value="bangladesh">
                                <label for="country" class="form-label">Country</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="phoneNo"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter Phone No"
                                       required
                                       name="phoneNo"
                                       value="018878877">
                                <label for="phoneNo" class="form-label">Phone No</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="email"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter email address"
                                       required
                                       name="email"
                                       value="test@gigatechltd.com">
                                <label for="email" class="form-label">Email</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="website"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter website"
                                       required
                                       name="website"
                                       value="webs">
                                <label for="website" class="form-label">Website</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="State" th:name="status">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>

                 </form> 
            </div>


        </div>

    </div><!-- End Basic Modal-->
    
    <!--Start Edit Company Modal Dialog -->
    <div class="modal fade" id="editCompanyModal" role="dialog"
         tabindex="-2">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">

            <div class="modal-content">

                <form method="post" th:object="${companyModel}" th:action="@{/company/editCompany}">

                    <div class="modal-header">
                        <h5 class="modal-title">Edit Company</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body row g-3" >
                        <input type="hidden" id="id" name="id">
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="name"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="name">
                                <label for="name" class="form-label">Company Name</label>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="bankId"
                                       type="text"
                                       class="form-control"
                                       required
                                       th:field="*{bankId}">
                                <label for="bankId" class="form-label">Bank Code</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="address"
                                       type="text"
                                       class="form-control"
                                       th:field="*{address}">
                                <label for="address" class="form-label">Address</label>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="city"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="city">
                                <label for="city" class="form-label">City</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="state"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="state">
                                <label for="state" class="form-label">State</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="country"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="country">
                                <label for="country" class="form-label">Country</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="phoneNo"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="phoneNo">
                                <label for="phoneNo" class="form-label">Phone No</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="email"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="email">
                                <label for="email" class="form-label">Email</label>
                            </div>
                        </div>
                        
                        <div class="col-6 ">
                            <div class="form-floating">
                                <input id="website"
                                       type="text"
                                       class="form-control"
                                       required
                                       name="website">
                                <label for="website" class="form-label">Website</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="State" th:name="status" onchange="testStatus(this)">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>

                  </form> 
            </div>


        </div>

    </div>
    <!--End Edit Company Modal Dialog -->
	                            

</section>

</body>

</html>
