<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
</head>

<body>

<section layout:fragment="content">

    <div class="pagetitle">
        <h1>Menu List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item active">Menu</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">

            <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <a th:text="${message}"></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">

                    <!-- Table with stripped rows -->
                    <table class="table simple-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Group</th>
                            <th>Route</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="menu: ${menus}">
                            <td th:text="${menu.menuId}"></td>
                            <td th:text="${menu.name}"></td>
                            <td th:text="${menu.menuType}"></td>
                            <td th:text="${menu.menuGroup}"></td>
                            <td th:text="${menu.route}"></td>
                            <td th:switch="${menu.status}">
                                <span th:case="'0'" class="badge bg-warning">Inactive</span>
                                <span th:case="'1'" class="badge bg-success">Active</span>
                            </td>
                           <td>
                               <div class="filter">

                                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>

                                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
<!--                                       <li>-->
<!--                                           <a class="dropdown-item"-->
<!--                                              data-bs-toggle="modal"-->
<!--                                              th:data-bs-target="'#editMenuModal'+${rolePermission.id}">Edit-->
<!--                                           </a>-->
<!--                                       </li>-->
                                       <li>
                                           <a class="dropdown-item"
                                              data-bs-toggle="modal"
                                              th:data-bs-target="'#activateModal'+${menu.id}"
                                              th:text="${menu.status == 1 ? 'Deactivate' : 'Activate'}">
                                           </a>
                                       </li>
                                   </ul>

                                   <!-- Activate / Deactivate Confirmation Dialog -->
                                   <div class="modal fade" th:id="'activateModal'+${menu.id}"
                                        tabindex="-1">
                                       <div class="modal-dialog">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title">Confirmation</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                           aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                   <a th:text="${'Are you sure to ' + (menu.status == 1 ? 'Deactivate ' : 'Activate ')  + menu.name} + ' ?'"></a>
                                               </div>
                                               <div class="modal-footer">

                                                   <button type="button" class="btn btn-secondary"
                                                           data-bs-dismiss="modal">Close
                                                   </button>

                                                   <form method="POST" th:action="@{/menu/changeStatus}">
                                                       <input type="hidden" name="id" th:value="${menu.id}"/>
                                                       <input type="hidden" name="v" th:value="${menu.status == 1 ? 0 : 1}"/>
                                                       <button type="submit" class="btn btn-primary">Confirm</button>
                                                   </form>

                                               </div>
                                           </div>
                                       </div>
                                   </div><!-- End Basic Modal-->

                               </div>
                           </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>

    </div>

</section>

</body>

</html>
